<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Novel</h1>
    <form action="/novels/add" method="post">
    <label for="title">title</label><br>
    <input type="text" name="title"><br>
    <label for="imageUrl">imageUrl</label><br>
    <input type="string" name="imageUrl"><br>
    <label for="description">description</label><br>
    <textarea name="description" cols="30" rows="10"></textarea><br>
    <label for="authorName">AuthorName</label><br>
    <input type="string" name="authorName"><br>
    <button type="submit">Add Novel</button>
</form>
</body>
</html>